input {
    width: 10vw; 
    height: 20px;
}

body {
    padding: 10%;
    text-align: center;
}

button {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

table {
    background-color: cornflowerblue;
    margin: auto;
    width: 60vw;
    border-spacing: 0px;
    border-collapse: separate;
    font-family: Arial, Helvetica, sans-serif; 
}

td {
    border-width: 10px;
    border-style: ridge;
    padding: 2%;
    margin: 0%;
}

.test {
    background-color: blue;
}
